@import url('https://fonts.googleapis.com/css?family=Work+Sans');

body, html {
    font-family: 'Work Sans', sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}

.background {
    position: absolute;
    width: 140%;
    height: 140%;
    top: -20%;
    left: -10%;
    display: grid;
    transform: rotateZ(5deg);
    filter: blur(10px);
}

.background-darken {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.square-1 {
    background-color: rgb(59, 41, 85);
    width: 100%;
    height: 100%;

    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

.square-2 {
    background-color: rgb(74, 46, 86);
    -webkit-box-shadow: -10px 0px 14px -6px rgba(0,0,0,0.63);
    -moz-box-shadow: -10px 0px 14px -6px rgba(0,0,0,0.63);
    box-shadow: -10px 0px 14px -6px rgba(0,0,0,0.63);
    grid-row: 1 / 3;
    grid-column: 2 / 4;
}

.square-3 {
    background-color: rgb(67, 46, 86);

    grid-row: 3;
    grid-column: 1 / 4;
}

.messenger-root {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messenger {
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 85%;
    margin: 0 auto;
    align-self: center;
    justify-self: center;
    background-color: black;
    color: white;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 40px 1px rgba(10,10,10,1);
    -moz-box-shadow: 0px 0px 40px 1px rgba(10,10,10,1);
    box-shadow: 0px 0px 40px 1px rgba(10,10,10,1);
}

@media all and (max-width: 1024px) {
    .messenger {
        width: 100%;
        height: 100%;
    }
}

.header {
    display: flex;
    flex-direction: row;
    height: 7rem;
    align-items: center;
    font-size: 1.5rem;
    background-image: linear-gradient(to top right, rgb(56, 43, 77), rgb(67, 46, 77));
    -webkit-box-shadow: 0px 1px 14px 1px rgba(10,10,10,1);
    -moz-box-shadow: 0px 1px 14px 1px rgba(10,10,10,1);
    box-shadow: 0px 1px 14px 1px rgba(10,10,10,1);
    z-index: 1;
}

.header .back {
    margin-left: 3rem;
    background-color: rgb(80, 58, 96, 0.9);
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    cursor: pointer;
}

.header .chat-title {
    flex: 1;
    text-align: center;
}

.header .settings {
    margin-right: 3rem;
    background-color: rgb(80, 58, 96, 0.9);
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
    cursor: pointer;
}

.messages {
    flex: 1;
    background-image: linear-gradient(to right, rgb(42, 34, 66) 65%, rgb(57, 38, 68));
    overflow-y: auto;
}

.message.local {
    background-image: linear-gradient(to right, rgb(42, 34, 66) 50%, rgb(72, 57, 83));
    
}

.message.local .avatar {
    opacity: 0;
    margin-right: 4rem;
}

.message {
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin-top: 1rem;
}

.message-field {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: fit-content;
}

.message-field .message-content {
    flex: 1;
    font-size: 1.25rem;
    font-weight: bold;
}

.message-field .date {
    margin-top: 0.5rem;
    color: rgb(123, 108, 128);
    font-size: 15px;
    margin-bottom: 0.5rem;
}

.avatar {
    height: 5rem;
    width: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 15px;
    box-sizing: border-box;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-color: white;
    border-width: 6px;
    border-style: solid;
    -webkit-box-shadow: 0px 0px 14px 3px rgba(204,63,204,1);
    -moz-box-shadow: 0px 0px 14px 3px rgba(204,63,204,1);
    box-shadow: 0px 0px 14px 3px rgba(204,63,204,1);
}

.message-box {
    height: 6rem;
    background-image: linear-gradient(to right, rgb(42, 34, 66), rgb(72, 57, 83));
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.7rem;
    -webkit-box-shadow: 0px -1px 14px 1px rgba(10,10,10,1);
    -moz-box-shadow: 0px -1px 14px 1px rgba(10,10,10,1);
    box-shadow: 0px -1px 14px 1px rgba(10,10,10,1);
    z-index: 1;
}

.message-box > * {
    margin-left: 2rem;
}

.message-box input {
    flex: 1;
    background: none;
    border: none;
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: 1.5rem;
}

.message-box .send {
    margin-right: 2rem;
}

textarea:focus, input:focus{
    outline: none;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}