<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="master.css">
        <title>FB UI Page</title>
    </head>
    <body>
        <div class="UICard">
            <header>
                <div class="headerGroup">
                    <img class="profilePic" src="https://via.placeholder.com/50" alt="">
                    <a href="#">Klaabu Gonzales</a>
                    <p class="PublishDate" href="#">8 minutes ago</p>
                </div>
                <div class="headerGroup">
                    <i class="fas fa-ellipsis-h"></i>
                </div>

            </header>

            <p class="PostText">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <img class="PostPic" src="https://via.placeholder.com/500x300" alt="">
            <div class="LikesComment">
                <p><a href="#"><i class="fas fa-thumbs-up like"></i></a></p>
                <p><a href="#" class="comment">1 comments</a></p>
            </div>

            <div class="LikesInput">
                <p><a href="#"><i class="far fa-thumbs-up"></i> Like</a></p>
                <p><a href="#"><i class="far fa-comment-alt"></i> Comment</a></p>
            </div>
            <div class="Comment">
                <img src="https://via.placeholder.com/50" alt="">
                <input type="text" name="" value="" placeholder="Write a comment...">
            </div>

        </div>
    </body>
</html>
